
QProgressBar {
	Background:qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(9, 77, 235, 100), stop:1 rgba(4, 14, 51, 200));
	Border:none;
	Outline:none;
}

QProgressBar::chunk { Background: gold; }
