QWidget#Wrapper {
	border-image	: url(:Login) 0 0 0 0 stretch stretch ;
	border-radius	: 15px	;
	padding			: 0px	; 
	margin			: 0px	;
}

QLabel { color: gold; }
	
QLineEdit {
	background 		: transparent	 ;
	color			: gold			 ;
	border-bottom	: 1px solid gold ;
	border-radius	: 8px  			 ;
	padding			: 2px 8px		 ;
	}