
QLabel { Color: gold; }

QWidget#Wrapper{
	border-image	: url(:Pk3Ownership-Background) 0 0 0 0 stretch stretch;
	border-radius	:  45px ;
	padding			:	0px ;
	margin			:	0px ;
}


	QListWidget {
		Outline			: 		 none ;
		Border			: 		 none ;
		Background		: transparent ;
		Padding			:	25px 20px ;
		Padding-Right	: 		 12px ;
	}
	
	QListWidget::Item {
		color			:  #e0c122 ;
		border-radius	: 	   5px ;
		padding			:  0px 5px ;
		margin-top		:	   4px ;
		margin-right	:	  15px ;
		background		:  rgba(10,60,150,60)	;
		border			:  2px solid transparent ;
		}
	QListWidget::item:hover {border-radius:8px; color: gold; background: qlineargradient( x1:1 y1:1, x0:0 y0:0, stop:0 rgba(5, 15, 36, 120), stop:1 rgba(9, 77, 235,140)); border-left:1px solid gold; border-right:1px solid gold;}
	
	QListWidget::item:selected {color: gold; border-radius:10px; background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(9, 77, 235, 100), stop:1 rgba(4, 14, 41, 150)); border:1px solid gold; border-left:2px solid gold; border-right:2px solid gold;  }
	