QWidget { color: gold;}

/********************************************************/
/*-------------- Line Edit ------------------*/

QLineEdit {
	background    	: transparent     	;
	border			: 2px  solid gold 	;
	border-radius 	: 10px				;
	border-top		: none				; 
	border-right  	: none				; 
	border-left   	: none				; 
	padding-left  	: 5px				;
	color			: white			  	;
}

QWidget#Wrapper {
    border-radius   : 35px            ;
    border-top      : 1px solid gold  ;
    border-bottom   : 1px solid gold  ;
	Background: qlineargradient( x1:0 y1:0, x2:1 y2:1, stop:0 #121f52, stop:1 #03092e);	
}

QWidget#Filler {
	background	: #090c23 ;
	border-bottom-left-radius : 15px;
}
/***************************************************************************************************/
/*-------------- List Widget + Items -----------------------------------------------*/
QListWidget{
	background : qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(15, 31, 60,180), stop:1 rgba(20, 35, 108,130));
	border-top-right-radius		: 15px ;
	border-bottom-right-radius	: 15px ;
	padding-right	: 5px ;
	padding-bottom	: 5px ;
}

QListWidget::item:hover{
	margin-right	: 10px ;
	border-top		: 1px solid transparent ;
	border-bottom	: 1px solid gold		;
	border-bottom-right-radius	: 5px	;
}


QListWidgetItem{
    padding-top : 50px;
}

QListWidget::item:selected{
	background		: gold	  ;
	color			: #091142 ;
	margin-right	: 10px	  ;
	border-top-right-radius		: 6px ;
	border-bottom-right-radius	: 6px ;
}
/************************************************************************************/
/*-------------- Scroll Bars ---------------------------------------*/

 QScrollBar:vertical {
     border: none;
     background: transparent;
     margin-top:11px;
     margin-bottom:11px;
    width:5px;
 }
 QScrollBar:horizontal {
    border         :   none        ;
    background     :   transparent ;
    margin-left    :   11px        ;
    margin-right   :   11px        ;
    height         :   5px         ;
 }
 QScrollBar::handle {
    background     : gold ;
    min-height     : 20px ;
    border-radius  : 2px  ;
}

 QScrollBar::add-line, QScrollBar::sub-line   { background :none ; }
 QScrollBar::up-arrow, QScrollBar::down-arrow { background: none ; }
 QScrollBar::add-page, QScrollBar::sub-page   { background: none ; }
 
/********************************************************************/
/*-------------- Disk Button ---------------------------*/

QPushButton#DiskButton {
	border:none;
	background: #0a0e27;
	border-radius: 0px;
	padding:0px;
}
QPushButton::hover#DiskButton {
	background: #0f1640;
	padding:5px,2px;
}
QPushButton::pressed#DiskButton{
	background: #192652;
}

QPushButton::checked#DiskButton {
	background: #ffc800;
	color: #091142;
}

/********************************************************/
/*-------------- Disk Button Top ----------*/

QPushButton#DiskButtonTop {
	border		  : none	;
	padding		  : 0px		;
	background	  : #0a0e27	;
	border-radius : 0px		;
	border-top-left-radius : 15px;
}

QPushButton::hover#DiskButtonTop {
	background	  : #0f1640	;
	padding		  : 5px,2px	;
}

QPushButton::checked#DiskButtonTop {
	background	  : #ffc800 ;
	color		  : #091142 ;
}